page-prato {
    .teste{
        width: 100%;
        height: 51.5px;
        overflow-y: auto;
        white-space: nowrap;
        border: 1px solid #661ada;
        border-radius: 25px;
        padding-left: 10px; 
    }
    .title{
        color: #661ada;
    }
}
