page-planos {  
    li, .preco{
        font-weight: 500;
        font-size: 17px;
    }
    .title{
        color: #661ada;
    }
    .imgplan{
        width: 300px;
        height: 300px;;
    }
    .bgselect{
        background: transparent;
        color: white;
    }
    .slide{
        margin-top:0;
    }
}
