page-home {
.bgmassa{
    background-image: url('https://i.imgur.com/SV3Pjco.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.bginput{
    background-color: rgba(255,255,255, 0.5);
    border-radius: 50px;
}
.bgimg{
    background-color: transparent;
}
.texto{
}
}
